.movie {
  width: 200px;
  margin: 0 20px 20px 0;
  border-radius: 10px;
  background-color: darkgray;
}

.movie h3 {
  margin: 0;
}

.detailsBtn {
  text-decoration: none;
  font-weight: bold;
}

.bottomInfo {
  padding-left: 10px;
}
